<div  class="table-responsive">
				<div><button class="btn-primary" ng-click = "chuyenTabThemLop()" >Tạo lớp</button></div>
				<table  class="table-condensed">
					<thead>
						<tr>
							<td>STT</td>
							<td>LOP</td>
							<td>THAO TAC</td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="kho in khoi1" >
							<td >{{$index}}</td>
							<td >{{kho.name}}</td>
							<td>
								<button  href ng-click="loadFormEdit(kho,$index); chuyenTabSuaLop()" class="btn-warning">sửa</button>
								<button ng-click="deleteClass(kho)" class="btn-danger">xóa</button>
							</td>

						</tr>
					</tbody>
				</table>

</div>