ul{
				list-style-type: none;
				margin-left:  0;
				padding: 0;
				overflow: hidden;
				background-color: none;
			}
			li{
				margin-left: 25px;
				float: left;
			}
			.flex{
				display: flex;
			}