$color-white: white;

.student{
    display: flex;
    justify-content: center;
}
table{
    thead{
        tr{
            td{
                background-color: $color-white;
            }
        }
    }
    tbody{
        tr{
            td{
                background-color: $color-white;
            }
        }
    }
}